{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block nav-blog-class %}active{% endblock %}

{% block content %}
<main>
  <article class="container">
    <h2 class="text-center">Blog</h2>
    {% for object in object_list %}
      <div>
        <h6 class="inline flex flex-align-center">
          <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>&nbsp;-&nbsp;<span class="small">{{ object.publish|date:"d-F-Y" }}</span>
        </h6>
        {{ object.body|truncatewords:30|linebreaks }}
      </div>
    {% endfor %}

    {% if page_obj.paginator.count > 1 %}
      <div class="inline-centered pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}">Previous</a>
          {% else %}
            <span>{% trans "First" %}<span>
          {% endif %}
          &nbsp;-&nbsp;
          {% if page_obj.has_next %}
            <a href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Next</a>
          {% else %}
            <span>{% trans "Last" %}<span>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </article>
</main>
{% endblock %}
