{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_ink %}

{% block title %}{{ object.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'django_comments_ink/css/comments.css' %}">
{% endblock %}

{% block content %}
<div class="pb-3">
  <h1 class="text-center">{{ object.title }}</h1>
  <p class="small text-center">{{ object.publish|date:"l, j F Y" }}</p>
</div>
<div>
  {{ object.body|linebreaks }}
</div>
<div class="pt-4 text-center">
  <a href="{% url 'blog:post-list' %}">Back to the post list</a>
</div>

<div class="{% dci_custom_selector %}">
  {% get_inkcomment_count for object as comment_count %}
  {% if comment_count %}
    <h6 class="text-center">
      {% blocktrans count comment_count=comment_count %}
      There is {{ comment_count }} comment
      {% plural %}
      There are {{ comment_count }} comments
      {% endblocktrans %}
    </h6>
  {% endif %}
</div>

{% if comment_count %}
  <div class="{% dci_custom_selector %} pb32">
    {% render_inkcomment_list for object %}
  </div>
{% endif %}

<div class="{% dci_custom_selector %}" data-dci="comment-form">
  <section class="comment-form">
    <h5 class="text-center">{% translate "Post your comment" %}</h5>
    {% render_inkcomment_form for object %}
  </section>
</div>

{% render_comment_reply_template for object %}
{% endblock %}

{% block extra_js %}
<script>window.dci = {}</script>
<script src="{% static 'django_comments_ink/dist/dci-0.1.0.js' %}"></script>
{% endblock %}