{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<main>
  <div class="container">
    <div class="intro big fw300">
      Contains a simple <strong>blog</strong> application with a <code>Post</code> model to which we will add comments using <strong>django-contrib-comments</strong> and <strong>django-comments-ink</strong>.
    </div>
  </div>
  <div class="container">
    <div class="flex-row">
      <p>Continue to the <a href="{% url 'blog:post-list' %}">blog</a>.</p>
    </div>
  </div>
</main>
{% endblock %}
